.container {
    width: 90%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.chart-section {
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-width {
    grid-column: span 3;
}

  /* Center and style the loading indicator */
  #loading-indicator {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    z-index: 1000;
}

#loading-indicator::after {
    content: "";
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
}

/* Toggle switch styling */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

#branch-dropdown2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    padding: 4px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    color: #333;
}




/* Style the file input and dropdown for consistency */
input[type="file"]{
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}



.branch {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px; /* Fixed width for consistency */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#export-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#export-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none; /* Prevents any hover effects or events */
}

/* Additional hover styling if needed */
#export-button:disabled:hover {
    background-color: #ccc; /* Keeps the same background color on hover */
    cursor: not-allowed; /* Keeps the cursor style on hover */
}


#record-count, 
#record-count2, 
#record-count3, 
#record-count4, 
#record-count5, 
#record-count6, 
#record-countR6, 
#record-countR12, 
#record-countR18,
p,
#winratebyBranch {
    margin-bottom: 20px;
    font-size: 18px;
    color: #28a745;
    font-weight: 500;
}

hr {
    border: 0;
    height: 1px;
    background: #e9ecef;
    margin: 15px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

button {
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}
